*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
*::selection{
    background: #006241;
    color: #fff;
}
.header{
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__logo{
    width: 30px;
}
.header__link, .header__login, .header__contiene-login{
    display: none;
    
}
.header__contiene-login-mobile i{
    color: #fff;
    font-size: 25px;
}
.main__contiene-imagen{
    display: none;
}
.main{
    margin-top:80px;
    padding: 15px 15px 60px;
    
}
.main__titulo{
    font-size: 50px;
    line-height:1.2 ;
    margin-bottom: 25px;
}  
.main__titulo span{
    color: #006241;
}
.main__parrafo{
    font-weight: bolder;
    margin-top: 20px;
}
.main__contiene-texto{
    display: flex;
    flex-direction: column;
}
.galeria{
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galeria__Imagen{
    width: 85%;
    margin-top: 15px;
}